body {
	background-color: black;
	color: purple;
}
div {
	background-color: black;
	color: purple;
}

#screenshot1 {
	border: 1em solid purple;
}

.download_btn {
	background-color: purple;
	color: black;
	font-weight: bold;
	cursor: pointer;
	border: 1em solid purple;
	border-radius: 1em;
}

.download_btn:hover {
	background: linear-gradient(45deg, #800080, #C040C0);
}

.menu-btn {
	color: purple;
	background-color: black;
	cursor: pointer;
}

h3 {
	cursor: default;
}

h1 {
	cursor: default;
}
